/* LAYOUT GỐC */
.container {
  display: flex;
}
/* GENERAL */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  background: #fff;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar .logo {
  width: 100%;
  text-align: center;
}

.sidebar .logo img {
  width: 180px;
  margin-bottom: 20px;
}

.sidebar .menu {
  list-style: none;
}

.sidebar .menu li {
  padding: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.sidebar .menu li:hover {
  background: #f1f1f1;
}

.sidebar .menu .active {
  background: #1f4f8a;
  color: white;
}

.sidebar .logout {
  margin-top: auto;
  padding: 10px;
  background-color: #1f4f8a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* MENU */
.menu {
  list-style: none;
  flex: 1;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.menu li i {
  width: 20px;
}

.menu li:hover,
.menu .active {
  background: #e6f0ff;
  color: #1f4f8a;
}

/* MAIN */
.main {
  margin-left: 240px;
  flex: 1;
  padding: 20px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card p {
  margin-bottom: 2px; /* 👈 giảm khoảng cách */
}

.card h3 {
  margin-top: 0; /* 👈 bỏ khoảng cách phía trên */
}

/* CHART */
.chart {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  width: 100%;
}

.chart-container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}
.chart canvas {
  width: 100% !important;
  height: 250px !important;
}
/* TABLE */
.table-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

.table-box table {
  width: 100%;
  border-collapse: collapse;
}

.table-box table th,
.table-box table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-box table th {
  background: #f8f8f8;
}

.percent.up {
  color: #28a745;
  font-weight: 600;
}

h3 {
  margin-top: 15px;
}

.status {
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
}

/* Đang giao */
.status.delivering {
  background: #d1ecf1;
  color: #17a2b8;
}

/* Đã giao */
.status.success {
  background: #d4edda;
  color: #28a745;
}

/* Chờ xử lý */
.status.pending {
  background: #fff3cd;
  color: #ffc107;
}

.status.cancel {
  background: #f8d7da; /* nền đỏ nhạt */
  color: #dc3545; /* chữ đỏ */
}
